
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>
        <h1>Sorry! You do not have permission to use this page :(( </h1>

</body>
</html>
