@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image " data-bs-bg="~/utils_client/img/bg/14.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner">
                    <h1 class="page-title">Our Portfolio</h1>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                            <li>Portfolio</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->
<!-- Gallery area start -->
<div class="ltn__gallery-area mb-120">
    <div class="container">
        <!--
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__gallery-menu">
                    <div class="ltn__gallery-filter-menu portfolio-filter text-uppercase mb-50">
                        <button data-bs-filter="*" class="active">all</button>
                        <button data-bs-filter=".filter_category_1">White</button>
                        <button data-bs-filter=".filter_category_2">Red</button>
                        <button data-bs-filter=".filter_category_3">Black</button>
                    </div>
                </div>
            </div>
        </div>
        -->
        <!-- Portfolio Wrapper Start -->
        <!-- (ltn__gallery-info-hide) Class for 'ltn__gallery-item-info' not showing -->
        <div class="ltn__gallery-active row ltn__gallery-style-2 ltn__gallery-info-hide---">
            <div class="ltn__gallery-sizer col-1"></div>

            <!-- gallery-item -->
            <div class="ltn__gallery-item filter_category_3 col-lg-4 col-sm-6 col-12">
                <div class="ltn__gallery-item-inner">
                    <div class="ltn__gallery-item-img">
                        <a href="~/utils_client/img/gallery/1.jpg" data-rel="lightcase:myCollection">
                            <img src="~/utils_client/img/gallery/1.jpg" alt="Image">
                            <span class="ltn__gallery-action-icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </a>
                    </div>
                    <div class="ltn__gallery-item-info">
                        <h4><a asp-controller="About" asp-action="GalleryDetails">Portfolio Link </a></h4>
                        <p>Web Design & Development, Branding</p>
                    </div>
                </div>
            </div>
            <!-- gallery-item -->
            <div class="ltn__gallery-item filter_category_2 col-lg-4 col-sm-6 col-12">
                <div class="ltn__gallery-item-inner">
                    <div class="ltn__gallery-item-img">
                        <a href="#ltn__inline_description_1" data-rel="lightcase:myCollection">
                            <img src="~/utils_client/img/gallery/2.jpg" alt="Image">
                            <span class="ltn__gallery-action-icon">
                                <i class="far fa-file-alt"></i>
                            </span>
                        </a>
                    </div>
                    <div class="ltn__gallery-item-info">
                        <h4><a asp-controller="About" asp-action="GalleryDetails">Inline Description </a></h4>
                        <p>Web Design & Development, Branding</p>
                    </div>
                </div>
            </div>
            <!-- gallery-item -->
            <div class="ltn__gallery-item filter_category_1 col-lg-4 col-sm-6 col-12">
                <div class="ltn__gallery-item-inner">
                    <div class="ltn__gallery-item-img">
                        <a href="http://www.youtube.com/embed/6v2L2UGZJAM?version=3" data-rel="lightcase:myCollection">
                            <img src="~/utils_client/img/gallery/3.jpg" alt="Image">
                            <span class="ltn__gallery-action-icon">
                                <i class="fab fa-youtube"></i>
                            </span>
                        </a>
                    </div>
                    <div class="ltn__gallery-item-info">
                        <h4><a asp-controller="About" asp-action="GalleryDetails">Youtube Video </a></h4>
                        <p>Web Design & Development, Branding</p>
                    </div>
                </div>
            </div>
            <!-- gallery-item -->
            <div class="ltn__gallery-item filter_category_3 col-lg-4 col-sm-6 col-12">
                <div class="ltn__gallery-item-inner">
                    <div class="ltn__gallery-item-img">
                        <a href="https://player.vimeo.com/video/47362400" data-rel="lightcase:myCollection">
                            <img src="~/utils_client/img/gallery/4.jpg" alt="Image">
                            <span class="ltn__gallery-action-icon">
                                <i class="fab fa-vimeo-v"></i>
                            </span>
                        </a>
                    </div>
                    <div class="ltn__gallery-item-info">
                        <h4><a asp-controller="About" asp-action="GalleryDetails">Vimeo Video </a></h4>
                        <p>Web Design & Development, Branding</p>
                    </div>
                </div>
            </div>
            <!-- gallery-item -->
            <div class="ltn__gallery-item filter_category_2 col-lg-4 col-sm-6 col-12">
                <div class="ltn__gallery-item-inner">
                    <div class="ltn__gallery-item-img">
                        <a href="media/1.mp4" data-rel="lightcase:myCollection">
                            <img src="~/utils_client/img/gallery/5.jpg" alt="Image">
                            <span class="ltn__gallery-action-icon">
                                <i class="fas fa-video"></i>
                            </span>
                        </a>
                    </div>
                    <div class="ltn__gallery-item-info">
                        <h4><a asp-controller="About" asp-action="GalleryDetails">HTML5 Video </a></h4>
                        <p>Web Design & Development, Branding</p>
                    </div>
                </div>
            </div>
            <!-- gallery-item -->
            <div class="ltn__gallery-item filter_category_1 col-lg-4 col-sm-6 col-12">
                <div class="ltn__gallery-item-inner">
                    <div class="ltn__gallery-item-img">
                        <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1575.9076122223137!2d144.96590401578402!3d-37.81779982944919!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642b6af832249%3A0xe39e415e49a7c44e!2sFlinders%20Street%20Railway%20Station!5e0!3m2!1sen!2sbd!4v1598113544515!5m2!1sen!2sbd" data-rel="lightcase:myCollection">
                            <img src="~/utils_client/img/gallery/6.jpg" alt="Image">
                            <span class="ltn__gallery-action-icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </span>
                        </a>
                    </div>
                    <div class="ltn__gallery-item-info">
                        <h4><a asp-controller="About" asp-action="GalleryDetails">Google Map </a></h4>
                        <p>Web Design & Development, Branding</p>
                    </div>
                </div>
            </div>
            <!-- gallery-item -->
            <div class="ltn__gallery-item filter_category_3 col-lg-4 col-sm-6 col-12">
                <div class="ltn__gallery-item-inner">
                    <div class="ltn__gallery-item-img">
                        <a href="~/utils_client/img/gallery/1.jpg" data-rel="lightcase:myCollection" data-bs-lc-caption="Your caption Here">
                            <img src="~/utils_client/img/gallery/7.jpg" alt="Image">
                            <span class="ltn__gallery-action-icon">
                                <i class="fab fa-acquisitions-incorporated"></i>
                            </span>
                        </a>
                    </div>
                    <div class="ltn__gallery-item-info">
                        <h4><a asp-controller="About" asp-action="GalleryDetails">Image Caption </a></h4>
                        <p>Web Design & Development, Branding</p>
                    </div>
                </div>
            </div>
            <!-- gallery-item -->
            <div class="ltn__gallery-item filter_category_2 col-lg-4 col-sm-6 col-12">
                <div class="ltn__gallery-item-inner">
                    <div class="ltn__gallery-item-img">
                        <a href="~/utils_client/img/gallery/no-image.html" data-rel="lightcase:myCollection">
                            <img src="~/utils_client/img/gallery/8.jpg" alt="Image">
                            <span class="ltn__gallery-action-icon">
                                <i class="fas fa-not-equal"></i>
                            </span>
                        </a>
                    </div>
                    <div class="ltn__gallery-item-info">
                        <h4><a asp-controller="About" asp-action="GalleryDetails">Not Found</a></h4>
                        <p>Web Design & Development, Branding</p>
                    </div>
                </div>
            </div>
            <!-- gallery-item -->
            <div class="ltn__gallery-item filter_category_1 col-lg-4 col-sm-6 col-12">
                <div class="ltn__gallery-item-inner">
                    <div class="ltn__gallery-item-img">
                        <a href="~/utils_client/img/gallery/1.jpg" data-rel="lightcase:myCollection">
                            <img src="~/utils_client/img/gallery/9.jpg" alt="Image">
                            <span class="ltn__gallery-action-icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </a>
                    </div>
                    <div class="ltn__gallery-item-info">
                        <h4><a asp-controller="About" asp-action="GalleryDetails">Portfolio Link </a></h4>
                        <p>Web Design & Development, Branding</p>
                    </div>
                </div>
            </div>
            <!-- gallery-item -->
            <div class="ltn__gallery-item filter_category_3 col-lg-4 col-sm-6 col-12">
                <div class="ltn__gallery-item-inner">
                    <div class="ltn__gallery-item-img">
                        <a href="~/utils_client/img/gallery/1.jpg" data-rel="lightcase:myCollection">
                            <img src="~/utils_client/img/gallery/10.jpg" alt="Image">
                            <span class="ltn__gallery-action-icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </a>
                    </div>
                    <div class="ltn__gallery-item-info">
                        <h4><a asp-controller="About" asp-action="GalleryDetails">Portfolio Link </a></h4>
                        <p>Web Design & Development, Branding</p>
                    </div>
                </div>
            </div>
            <!-- gallery-item -->
            <div class="ltn__gallery-item filter_category_2 col-lg-4 col-sm-6 col-12">
                <div class="ltn__gallery-item-inner">
                    <div class="ltn__gallery-item-img">
                        <a href="~/utils_client/img/gallery/1.jpg" data-rel="lightcase:myCollection">
                            <img src="~/utils_client/img/gallery/1.jpg" alt="Image">
                            <span class="ltn__gallery-action-icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </a>
                    </div>
                    <div class="ltn__gallery-item-info">
                        <h4><a asp-controller="About" asp-action="GalleryDetails">Portfolio Link </a></h4>
                        <p>Web Design & Development, Branding</p>
                    </div>
                </div>
            </div>
            <!-- gallery-item -->
            <div class="ltn__gallery-item filter_category_1 col-lg-4 col-sm-6 col-12">
                <div class="ltn__gallery-item-inner">
                    <div class="ltn__gallery-item-img">
                        <a href="~/utils_client/img/gallery/1.jpg" data-rel="lightcase:myCollection">
                            <img src="~/utils_client/img/gallery/2.jpg" alt="Image">
                            <span class="ltn__gallery-action-icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </a>
                    </div>
                    <div class="ltn__gallery-item-info">
                        <h4><a asp-controller="About" asp-action="GalleryDetails">Portfolio Link </a></h4>
                        <p>Web Design & Development, Branding</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="ltn__inline_description_1" style="display: none;">
            <h4 class="first">This content comes from a hidden element on that page</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Nulla et lorem eu nibh adipiscing ultricies nec at lacus. Cras laoreet ultricies sem, at blandit mi eleifend aliquam. Nunc enim ipsum, vehicula non pretium varius, cursus ac tortor.</p>
            <p>Vivamus fringilla congue laoreet. Quisque ultrices sodales orci, quis rhoncus justo auctor in. Phasellus dui eros, bibendum eu feugiat ornare, faucibus eu mi. Nunc aliquet tempus sem, id aliquam diam varius ac. Maecenas nisl nunc, molestie vitae eleifend vel.</p>
        </div>

        <div class="btn-wrapper text-center">
            <a href="#" class="btn btn-transparent btn-effect-3 btn-border">LOAD MORE +</a>
        </div>

        <!-- pagination start -->
        <!--
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__pagination text-center margin-top-50">
                    <ul>
                        <li class="arrow-icon"><a href="#"> &leftarrow; </a></li>
                        <li class="active"><a href="blog.html">1</a></li>
                        <li><a href="blog-2.html">2</a></li>
                        <li><a href="blog-2.html">3</a></li>
                        <li><a href="blog-2.html">...</a></li>
                        <li><a href="blog-2.html">10</a></li>
                        <li class="arrow-icon"><a href="#"> &rightarrow; </a></li>
                    </ul>
                </div>
            </div>
        </div>
        -->
        <!-- pagination end -->

    </div>
</div>
<!-- Gallery area end -->
<!-- CALL TO ACTION START (call-to-action-4) -->
<div class="ltn__call-to-action-area ltn__call-to-action-4 bg-image pt-115 pb-120" data-bs-bg="~/utils_client/img/bg/6.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="call-to-action-inner call-to-action-inner-4 text-center">
                    <div class="section-title-area ltn__section-title-2">
                        <h6 class="section-subtitle ltn__secondary-color">//  any question you have  //</h6>
                        <h1 class="section-title white-color">897-876-987-90</h1>
                    </div>
                    <div class="btn-wrapper">
                        <a href="tel:+123456789" class="theme-btn-1 btn btn-effect-1">MAKE A CALL</a>
                        <a asp-controller="About" asp-action="Contact" class="btn btn-transparent btn-effect-3 white-color">CONTACT US</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ltn__call-to-4-img-1">
        <!-- <img src="~/utils_client/img/bg/12.png" alt="#"> -->
        <img src="~/utils_client/img/others/9.png" alt="#">
    </div>
    <div class="ltn__call-to-4-img-2">
        <img src="~/utils_client/img/bg/11.png" alt="#">
    </div>
</div>
<!-- CALL TO ACTION END -->
<!-- BLOG AREA START (blog-3) -->
<div class="ltn__blog-area pt-120 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">News & Blogs</h6>
                    <h1 class="section-title">Leatest News Feeds</h1>
                </div>
            </div>
        </div>
        <div class="row  ltn__blog-slider-one-active slick-arrow-1 ltn__blog-item-3-normal">
            <!-- Blog Item -->
            <div class="col-lg-12">
                <div class="ltn__blog-item ltn__blog-item-3">
                    <div class="ltn__blog-img">
                        <a asp-controller="News" asp-action="NewsDetails"><img src="~/utils_client/img/blog/1.jpg" alt="#"></a>
                    </div>
                    <div class="ltn__blog-brief">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                </li>
                                <li class="ltn__blog-tags">
                                    <a href="#"><i class="fas fa-tags"></i>Decorate</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="ltn__blog-title"><a asp-controller="News" asp-action="NewsDetails">10 Brilliant Ways To Decorate Your Home</a></h3>
                        <div class="ltn__blog-meta-btn">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>June 24, 2021</li>
                                </ul>
                            </div>
                            <div class="ltn__blog-btn">
                                <a asp-controller="News" asp-action="NewsDetails">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Item -->
            <div class="col-lg-12">
                <div class="ltn__blog-item ltn__blog-item-3">
                    <div class="ltn__blog-img">
                        <a asp-controller="News" asp-action="NewsDetails"><img src="~/utils_client/img/blog/2.jpg" alt="#"></a>
                    </div>
                    <div class="ltn__blog-brief">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                </li>
                                <li class="ltn__blog-tags">
                                    <a href="#"><i class="fas fa-tags"></i>Interior</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="ltn__blog-title"><a asp-controller="News" asp-action="NewsDetails">The Most Inspiring Interior Design Of 2021</a></h3>
                        <div class="ltn__blog-meta-btn">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>July 23, 2021</li>
                                </ul>
                            </div>
                            <div class="ltn__blog-btn">
                                <a asp-controller="News" asp-action="NewsDetails">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Item -->
            <div class="col-lg-12">
                <div class="ltn__blog-item ltn__blog-item-3">
                    <div class="ltn__blog-img">
                        <a asp-controller="News" asp-action="NewsDetails"><img src="~/utils_client/img/blog/3.jpg" alt="#"></a>
                    </div>
                    <div class="ltn__blog-brief">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                </li>
                                <li class="ltn__blog-tags">
                                    <a href="#"><i class="fas fa-tags"></i>Estate</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="ltn__blog-title"><a asp-controller="News" asp-action="NewsDetails">Recent Commercial Real Estate Transactions</a></h3>
                        <div class="ltn__blog-meta-btn">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>May 22, 2021</li>
                                </ul>
                            </div>
                            <div class="ltn__blog-btn">
                                <a asp-controller="News" asp-action="NewsDetails">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Item -->
            <div class="col-lg-12">
                <div class="ltn__blog-item ltn__blog-item-3">
                    <div class="ltn__blog-img">
                        <a asp-controller="News" asp-action="NewsDetails"><img src="~/utils_client/img/blog/4.jpg" alt="#"></a>
                    </div>
                    <div class="ltn__blog-brief">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                </li>
                                <li class="ltn__blog-tags">
                                    <a href="#"><i class="fas fa-tags"></i>Room</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="ltn__blog-title"><a asp-controller="News" asp-action="NewsDetails">Renovating a Living Room? Experts Share Their Secrets</a></h3>
                        <div class="ltn__blog-meta-btn">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>June 24, 2021</li>
                                </ul>
                            </div>
                            <div class="ltn__blog-btn">
                                <a asp-controller="News" asp-action="NewsDetails">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Item -->
            <div class="col-lg-12">
                <div class="ltn__blog-item ltn__blog-item-3">
                    <div class="ltn__blog-img">
                        <a asp-controller="News" asp-action="NewsDetails"><img src="~/utils_client/img/blog/5.jpg" alt="#"></a>
                    </div>
                    <div class="ltn__blog-brief">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                </li>
                                <li class="ltn__blog-tags">
                                    <a href="#"><i class="fas fa-tags"></i>Trends</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="ltn__blog-title"><a asp-controller="News" asp-action="NewsDetails">7 home trends that will shape your house in 2021</a></h3>
                        <div class="ltn__blog-meta-btn">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>June 24, 2021</li>
                                </ul>
                            </div>
                            <div class="ltn__blog-btn">
                                <a asp-controller="News" asp-action="NewsDetails">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div>
<!-- BLOG AREA END -->
<!-- BRAND LOGO AREA START -->
<div class="ltn__brand-logo-area ltn__brand-logo-1 pt-80--- pb-110 plr--9">
    <div class="container-fluid">
        <div class="row ltn__brand-logo-active">
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="~/utils_client/img/brand-logo/1.png" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="~/utils_client/img/brand-logo/2.png" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="~/utils_client/img/brand-logo/3.png" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="~/utils_client/img/brand-logo/4.png" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="~/utils_client/img/brand-logo/5.png" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="~/utils_client/img/brand-logo/3.png" alt="Brand Logo">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BRAND LOGO AREA END -->
<!-- CALL TO ACTION START (call-to-action-6) -->
<div class="ltn__call-to-action-area call-to-action-6 before-bg-bottom" data-bs-bg="~/utils_client/img/1.jpg--">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="call-to-action-inner call-to-action-inner-6 ltn__secondary-bg position-relative text-center---">
                    <div class="coll-to-info text-color-white">
                        <h1>Buy medical disposable face mask <br> to protect your loved ones</h1>
                    </div>
                    <div class="btn-wrapper">
                        <a class="btn btn-effect-3 btn-white" asp-controller="Shop" asp-action="Index">Explore Products <i class="icon-next"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CALL TO ACTION END -->
