@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image " data-bs-bg="~/utils_client/img/bg/14.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner">
                    <h1 class="page-title">Team Details</h1>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                            <li>Team Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->
<!-- TEAM DETAILS AREA START -->
<div class="ltn__team-details-area mb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="ltn__team-details-member-info text-center mb-40">
                    <div class="team-details-img">
                        <img src="~/utils_client/img/team/4.jpg" alt="Team Member Image">
                    </div>
                    <h2>Rosalina D. William</h2>
                    <h6 class="text-uppercase ltn__secondary-color">Heart Surgeon</h6>
                    <div class="ltn__social-media-3">
                        <ul>
                            <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="ltn__team-details-member-info-details">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ltn__team-details-member-about">
                                <ul>
                                    <li><strong>Positions:</strong> Senior Heart Surgeon</li>
                                    <li><strong>Experience:</strong> 10+ Years</li>
                                    <li><strong>Location:</strong> 13/A, NYC</li>
                                    <li><strong>Practice Area:</strong> Heart Surgeon</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ltn__team-details-member-about">
                                <ul>
                                    <li><strong>Email:</strong> example@example.com</li>
                                    <li><strong>Fax:</strong> +0123-456 789</li>
                                    <li><strong>Phone:</strong> +0123-456 789</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequu ntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

                    <h4>9 Steps For Improving Heart Health Naturally</h4>
                    <ol>
                        <li>
                            Spend Less Time Sitting and More Time Moving
                        </li>
                        <li>
                            Lose Excess Body Fat, Particularly Belly Fat
                        </li>
                        <li>
                            Lower Non-HDL Cholesterol
                        </li>
                        <li>
                            Stop Smoking and Start Living
                        </li>
                        <li>
                            Lower Your Resting Blood Pressure To Below 120/80
                        </li>
                        <li>
                            Prevent or Control Diabetes
                        </li>
                        <li>
                            Reduce Inflammation
                        </li>
                        <li>
                            Lower Triglyceride Levels
                        </li>
                        <li>
                            Keep a Lid On Stress
                        </li>
                    </ol>
                    <div class="row ltn__custom-gutter mt-50 mb-20">
                        <div class="col-xl-4 col-sm-6 col-12">
                            <div class="ltn__feature-item ltn__feature-item-6 text-center">
                                <div class="ltn__feature-icon">
                                    <span><i class="flaticon-park"></i></span>
                                </div>
                                <div class="ltn__feature-info">
                                    <h4><a href="service.html">Medications Vs Lifestyle</a></h4>
                                    <p>Lorem ipsum dolor sit ame it, consectetur adipisicing elit, sed do eiusmod te mp or</p>
                                    <!-- <a class="ltn__service-btn" href="service.html">Read More</a> -->
                                    <a class="ltn__service-btn" asp-controller="Service" asp-action="ServiceDetails">Read More <i class="flaticon-right-arrow"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6 col-12">
                            <div class="ltn__feature-item ltn__feature-item-6 text-center active">
                                <div class="ltn__feature-icon">
                                    <span><i class="flaticon-branch"></i></span>
                                </div>
                                <div class="ltn__feature-info">
                                    <h4><a href="team.html">Improving Heart Health Naturally</a></h4>
                                    <p>Lorem ipsum dolor sit ame it, consectetur adipisicing elit, sed do eiusmod te mp or</p>
                                    <!-- <a class="ltn__service-btn" href="service.html">Read More</a> -->
                                    <a class="ltn__service-btn" asp-controller="Service" asp-action="ServiceDetails">Read More <i class="flaticon-right-arrow"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6 col-12">
                            <div class="ltn__feature-item ltn__feature-item-6 text-center">
                                <div class="ltn__feature-icon">
                                    <span><i class="flaticon-vegetable"></i></span>
                                </div>
                                <div class="ltn__feature-info">
                                    <h4><a asp-controller="Service" asp-action="ServiceDetails">Optimal Way To Shed Fat</a></h4>
                                    <p>Lorem ipsum dolor sit ame it, consectetur adipisicing elit, sed do eiusmod te mp or</p>
                                    <!-- <a class="ltn__service-btn" href="service.html">Read More</a> -->
                                    <a class="ltn__service-btn" asp-controller="Service" asp-action="ServiceDetails">Read More <i class="flaticon-right-arrow"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequu ntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

                    <div class="ltn__form-box contact-form-box box-shadow white-bg mt-50">
                        <h4 class="title-2">Contact for any Inquiry</h4>
                        <form id="contact-form" action="https://tunatheme.com/tf/html/vicodin-preview/vicodin/mail.php" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-item input-item-name ltn__custom-icon">
                                        <input type="text" name="name" placeholder="Enter your name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item input-item-email ltn__custom-icon">
                                        <input type="email" name="email" placeholder="Enter email address">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item">
                                        <select class="nice-select">
                                            <option>Select Service Type</option>
                                            <option>Property Management </option>
                                            <option>Mortgage Service </option>
                                            <option>Consulting Service</option>
                                            <option>Home Buying</option>
                                            <option>Home Selling</option>
                                            <option>Escrow Services</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item input-item-phone ltn__custom-icon">
                                        <input type="text" name="phone" placeholder="Enter phone number">
                                    </div>
                                </div>
                            </div>
                            <div class="input-item input-item-textarea ltn__custom-icon">
                                <textarea name="message" placeholder="Enter message"></textarea>
                            </div>
                            <p><label class="input-info-save mb-0"><input type="checkbox" name="agree"> Save my name, email, and website in this browser for the next time I comment.</label></p>
                            <div class="btn-wrapper mt-0">
                                <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">get an free service</button>
                            </div>
                            <p class="form-messege mb-0 mt-20"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TEAM DETAILS AREA END -->
<!-- CALL TO ACTION START (call-to-action-6) -->
<div class="ltn__call-to-action-area call-to-action-6 before-bg-bottom" data-bs-bg="~/utils_client/img/1.jpg--">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="call-to-action-inner call-to-action-inner-6 ltn__secondary-bg position-relative text-center---">
                    <div class="coll-to-info text-color-white">
                        <h1>Buy medical disposable face mask <br> to protect your loved ones</h1>
                    </div>
                    <div class="btn-wrapper">
                        <a class="btn btn-effect-3 btn-white" asp-controller="Shop" asp-action="Index">Explore Products <i class="icon-next"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CALL TO ACTION END -->