<!-- Utilize Cart Menu Start -->
@if (User.Identity.IsAuthenticated)
{
    @if (ViewBag.CartItems != null && ViewBag.CartItems.Count > 0)
    {
        @foreach (var item in ViewBag.CartItems)
        {
            if(item!=null){
                <div class="mini-cart-item clearfix">
                    <div class="mini-cart-img">
                        <a href="#"><img src="~/uploadImages/@item.Product.Image" alt="Image"></a>
                        <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
                    </div>
                    <div class="mini-cart-info">
                        <h6><a href="#">@item.Product.Name</a></h6>
                        <span class="mini-cart-quantity">@item.Quantity x @item.Product.Price.ToString("#,##0")</span>
                    </div>
                </div>
            }

            

        }
    } else{
        <div class="mini-cart-item clearfix">
            <h1>Your cart is empty!</h1>
        </div>
        <div class="mini-cart-sub-total">
            <h5>Subtotal: <span>0</span></h5>
        </div>
    }
}
else
{

    <div class="mini-cart-item clearfix">
        <h1>Please sign in to see your cart!</h1>
    </div>
    <div class="mini-cart-sub-total">
        <h5>Subtotal: <span>0</span></h5>
    </div>


}


